:root {
	--container-width: 1650px;
	--container-padding: 15px;

	--font-main: 'Saira', sans-serif;
	--font-accent: 'Rowdies', sans-serif;

	--page-bg: #fff;
	--color-text: #4E596B;
	--color-titles: #324361;
	--dark-blue: #1B2336;
	--accent: #2AAA94;
	--title: #323232;
	--card-name: #1D1D45;
	--card-text: #7E7EAA;

	--white: #fff;
	--black: #000;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}