.categs-section {
    padding: 101px 0 155px;
    background: linear-gradient(0deg, #D9ECFF 0%, rgba(240, 243, 255, 0) 100%);
    @media screen and (max-width: 992px) { 
        padding: 50px 0 50px;
        background: linear-gradient(0deg, #b4d6f8 60%, rgba(240, 243, 255, 0) 100%);
    }
    &__title {
        margin-bottom: 42px;        
    }

    &__info {        
        color: var(--color-text);
        font-size: 25rem;
        font-family: var(--font-main);
        font-weight: 500;
        line-height: 27rem;
        margin-bottom: 100rem;
        text-align: center;
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        gap: 18px;
    }

    .card {
        background: var(--white);
        box-shadow: 0px 4px 4px rgba(216.75, 235.88, 255, 0.50); 
        border-radius: 20px;
        padding: 37px 66px 47px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;   
        transition: var(--transition);
        &:hover {
            transform: translateY(-10px);
            box-shadow: 3px 3px 40px var(--color-text);

        }     

        &__image {
            max-width: 90px;
            margin-bottom: 50px;
            margin-inline: auto;
        }
    
        &__title {
            color: var(--color-titles);
            font-size: 25rem;
            font-weight: 600;
            line-height: 35rem;
            margin-bottom: 45rem;
        } 
        &__counter {
            color: #4F547B;
            font-size: 18rem;
            font-family: Saira;
            font-weight: 500;
            line-height: 23rem;            
        }   
        
    }
}


