.factor-section {    
    padding: 135px 0 147px 0;
    background: linear-gradient(0deg, #D9ECFF 0%, rgba(240, 243, 255, 0) 100%);
    @media screen and (max-width: 992px) {
        padding-top: 50rem;  
        padding-bottom: 50rem;  
    }
    &__container {
        display: flex;
        padding-bottom: 234px;
        gap: 150rem; 
        padding-left: 112px;  
        @media screen and (max-width: 1400px) {            
            padding-inline: 15px; 
            gap: 50rem;        
        } 
        @media screen and (max-width: 992px) {            
            flex-direction: column; 
            align-items: center; 
            text-align: center;
            padding-bottom: 150rem;              
        }    
    }    

    &__info {
        flex: 0 1 761px;
        position: relative;
        @media screen and (max-width: 992px) {            
            flex-basis: auto;            
        }
    }
    &__image {
        max-width: 664px;
    }
    .factor-deco {
        position: absolute;
        bottom: -40px;
        right: 0;        
        max-width: 119px;

    }

    &__title {
        margin-bottom: 52rem;
        text-align: start;
        @media screen and (max-width: 992px) { 
            text-align: center;              
        }
    }

    &__text {
        color: var(--color-text);
        font-size: 18px;        
        font-weight: 400;
        line-height: 28px; 
        margin-bottom: 48px;     
    }    

    &__video {
       max-width: 1373px;
       border-radius: 68px;
       margin-bottom: 132rem;
       cursor: pointer;       
       position: relative;        
        a {
            display: inline-block;
        }
        @media screen and (max-width: 992px) {
            margin-bottom: 50rem;             
        }
    }
    &__play {      
        display: inline-block;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 218rem;
        border-radius: 50%;
        transition: .3s all ease-in-out;
        &:hover {
            transform: translate(-50%, -50%) scale(1.05);          
        }  
        &:active {
            transform: translate(-50%, -50%) scale(0.9);          
        }              
    }
    

    .factor-section__testimonials {
        position: relative;
        .title {
            margin-bottom: 42px;
        }
    }
    .testimonials-deco {
        position: absolute;
        top: 3px;
        left: 134rem;        
        max-width: 115rem;
        @media screen and (max-width: 992px) { 
            left: 50rem;              
        }

    }

    &__slogan {
        color: var(--color-text);
        font-size: 25rem;
        font-weight: 500;
        line-height: 40rem;
        margin-bottom: 94rem;
        text-align: center;
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 32rem;
    }
    .card {
        background: var(--white);
        box-shadow: 0px 4px 35px rgba(121, 102, 234, 0.08); 
        border-radius: 30px;
        padding: 51px 41px;
        display: flex;
        flex-direction: column;
        cursor: auto;
        
        &__header {
            display: flex;
            align-items: center;
            gap: 33rem;
            margin-bottom: 42rem;
        }
    
        &__img {
            max-width: 65px;
            border-radius: 50%;
            img {
                border-radius: 50%;
            }
        }
    
        &__name {
            color: var(--card-name);
            font-size: 25rem;
            font-family: var(--font-accent);
            font-weight: 700;
            line-height: 40rem;
        }
    
        &__text {
            color: var(--card-text);
            font-size: 18rem;
            font-family: var(--font-main);
            font-weight: 400;
            line-height: 28rem;
            margin-bottom: 50rem;
            flex-grow: 1;
        }
    
        &__stars {
            max-width: 138px;
        }
    }
}

    



    



