.footer {
	padding-top: 118px;
	background: linear-gradient(95deg, #331DA8 0%, #865AEF 100%);
	color: var(--white);

	&__container {
	}

	&__top {
		display: flex;
		justify-content: space-between;
		padding-bottom: 89px;
		border-bottom: 1px rgba(255, 255, 255, 0.32) solid;
	}

	&__logo {		
		img {
			max-width: 192px;
			height: 60px;
			margin-bottom: 74px;
		}
	}

	&__text {		
		font-size: 18px;		
		font-weight: 400;
		line-height: 28px;
		max-width: 477px;		
	}

	&__links {
		.footer__items {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			row-gap: 22px;
		}
	}

	&__title {
		font-size: 25px;
		font-family: var(--font-accent);
		font-weight: 700;
		line-height: 24px;
		margin-bottom: 95px;
	}

	&__items, &__last, &__items a {		
		color: var(--white);
		font-size: 18px;		
		font-weight: 500;
		line-height: 28px;
		
	}
	

	&__phone {
		display: flex;
		align-items: center;
		margin-bottom: 35px;		
		&::before {
			content: url('./img/svg/phone.svg');
			display: inline-block;
			width: 19px;
			height: 19px;             
			margin-right: 18px;
				
    }
	}
	&__mail {
		display: flex;
		align-items: center;		
		&::before {
			content: url('./img/svg/mail.svg');
			display: inline-block;
			width: 19px;
			height: 19px;             
			margin-right: 18px;
				
    }
	}
	&__location {
		display: flex;
		align-items: center;		
		&::before {
			content: url('./img/svg/location.svg');
			display: inline-block;
			width: 19px;
			height: 19px;             
			margin-right: 18px;
				
    }
	}

	&__last {
		max-width: 263px;
	}

	&__bottom {
	}
}

