.header {
  width: 100%;
  padding: 27px 15px;
  gap: 25px;
  @include flex-between;
  @include mobile-576 {
    padding: 15px;
  }
  &__logo {
    max-width: 170px;

    img {
      max-width: 170px;
    }
  }

  &__nav {    
    ul {
      display: flex;
      gap: clamp(20px, 30rem, 50px);
    }
    a {
      text-transform: capitalize;
      @include text(inherit, 20rem, 26rem, 500, var(--dark-blue));
      transition: var(--transition);

      &:hover {
        color: var(--accent);
      }
    }
    a.active {
      color: var(--accent);
    }
    @include desktop-small-1200 {
      display: none;
    }
  }

  &__icons {
    display: flex;
    align-items: center;    
    gap: 15rem;
    
    a {
      flex-shrink: 0;
    }
    svg {
      width: 25px;
      height: 25px;
      transition: var(--transition);
      &:hover {
        scale: 1.2;
        path {
          fill: var(--accent);
        }
      }
    }
    @include desktop-small-1200 {
      display: none;
    }
  }

  &__buttons {
    @include flex-between;
    gap: 39px;
    a:first-of-type {
      text-decoration: underline;
      @include text(inherit, 20rem, 35rem, 500, #4a4a4a);
      transition: var(--transition);
      &:hover {
        color: var(--accent);
      }
    }
    @include desktop-small-1200 {
      display: none;
    }
  }
  .search-container {
    transition: 0.8s all ease;
    position: relative;
    border-radius: 12px;
    cursor: pointer;
    &:hover,
    &:focus {
      .search {
        svg:hover {
          scale: 1;
        }
      }
      svg {
        path {
          fill: initial;
        }
      }
    }
    input {
      height: 46px;
      transition: var(--transition);
      border: 2px solid var(--accent);
      border-radius: 12px;
      padding: 3px 3px 3px 32px;
      @include text(inherit, 18rem, 24rem, 400, var(--dark-blue));
    }
    .search {
      position: absolute;
      top: 51%;
      left: 3px;
      width: 25px;
      transform: translateY(-50%);
      z-index: 3;
      transition: var(--transition);
    }
  }
}
