.main-section {
    background: url('/img/main-bg.jpg') 0 0/100% 100%  no-repeat;
    &__top {
        padding: 0 97px 0 144px;
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: space-between;        
        position: relative;
        &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(257deg, rgba(4, 1, 108, 0.80) 0%, rgba(73.99, 22.44, 189.29, 0.80) 100%); 
                z-index: -2;
                     
            }
    } 
    .main-deco {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }  

    &__info {
        padding-top: 167px;
        padding-bottom: 184px;
    }

    &__slogan {
        color: var(--white);
        opacity: 0.8;
        font-size: 18px;        
        font-weight: 600;
        text-transform: uppercase;
        line-height: 20px;
        letter-spacing: 3px;
        margin-bottom: 63px;
    }

    &__title {
        max-width: 670px;
        color: var(--white);
        font-size: 80px;
        font-family: var(--font-accent);
        font-weight: 400;
        line-height: 90px;
        margin-bottom: 90px;        
    
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 36px;
        margin-bottom: 76px;
        a {
            color: var(--white);
            font-size: 18px;
            font-family: Saira;
            font-weight: 500;
            line-height: 52px;
        }
        ._bordered {
            display: inline-flex;
            padding: 12px 34px;
            border-radius: 10px;
            border: 2px solid var(--white);
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 1px;
        }
        
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 490px;
        background: var(--white);
        width: 100%;
        border-radius: 7px;
        padding: 10px;
        input {
            color: #4F547B;
            font-size: 16rem; 
            width: 100%;
            padding: 0 15px 0 25px;           
            
        }
    }

    &__btn {
    }

    &__img {        
        img {
            max-width: 658px;
        }
        
    }
    &__bottom {
        position: relative;
        z-index: 10;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #084FC7 0%, rgba(8, 79, 199, 0.5) 100%); 
              z-index: 1;       
            }

    }
    &__brands {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 130rem;
        padding: 50rem 0;
        border: 1px solid #707070;
        position: relative;
        z-index: 10;
        img {
            max-width: 120rem;
        }

    }
}


