.mobile-nav {
	position: fixed;	
	top: -120%;
	width: 100%;
	height: 100%;
    z-index: 99;
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;    
    padding-bottom: 40px;
    background: linear-gradient(72deg, rgba(8, 79, 199) 0%, rgba(126.58, 86.29, 216.71) 100%); 	
	transition: all 0.2s ease-in;
}

.mobile-nav--open {	
	top: 0;
}

.mobile-nav a {
	color: var(--white);
	font-size: 28rem;
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  @keyframes text-focus-in {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  .mobile-nav a:nth-child(1) {
	animation-delay: -1s;
  }
  .mobile-nav a:nth-child(2) {
	animation-delay: -2s;
  }
  .mobile-nav a:nth-child(3) {
	animation-delay: -0.5s;
  }
  .mobile-nav a:nth-child(4) {
	animation-delay: -0.4s;
  }
  .mobile-nav a:nth-child(5) {
	animation-delay: -0.3s;
  }
  .mobile-nav a:nth-child(6) {
	animation-delay: -0.2s;
  }
//   .mobile-nav an:nth-child(7) {
// 	animation-delay: -0.1s;
//   }

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	font-size: 28px;

	& .active {
		opacity: 0.5;
	}
	.header__nav {
		display: block;
	}
	.header__nav ul {
		flex-direction: column;
		gap: 20px;
	}
	.header__icons,.header__buttons {
		display: flex;
		align-items: center;
		a {
			color: var(--white);
		}
	}
}