/*======================
    404 page
=======================*/

.page_404 {
  padding: 40rem 0;
  background: var(--white);
  font-family: var(--font-main);
  text-align: center;
  h1 {
    font-size: clamp(40px, 80rem, 80px);
  }
}

.four_zero_four_bg {
  background: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif)
    center/contain no-repeat;
  height: 400px;
}

.link_404 {
  margin: 20px 0;
}
.contant_box_404 {
  margin-top: -50px;
  @include text(var(--font-main), 25rem, 35rem, 400, var(--color-text));
}
